{% extends "page.twig" %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="container">
        <div class="p-5 mb-4 bg-dark rounded-3">
            <div class="d-flex">
                <div class="flex-shrink-0">
                    <div id="about-avatar" class="rounded-circle me-3"></div>
                </div>
                <div class="flex-grow-1 ms-3">
                    <h1>Hi!</h1>

                    <p>My name is Michael a.k.a. Programie. I'm {{ age }} years old and live in Germany.</p>

                    <p>I work at <a href="https://www.ionos.com" target="_blank">1&amp;1 IONOS SE</a> where I am responsible for the availability of the <a href="https://www.ionos.com" target="_blank">Shops</a>, the <a href="https://my.ionos.com" target="_blank">Control Center</a> as well as some services in the background.</p>
                </div>
            </div>
        </div>

        <h2>Software development</h2>

        <p>I started to write my first programs in 2005 in the programming language <a href="https://www.purebasic.com" target="_blank">PureBasic</a>.</p>

        <p>I'm a hobby developer. But I also develop some tools at work, regardless of my actual job title. Some of them are even open source, like <a href="/projects/teamplaner">Team Planer</a> which is used for our team internal on-call duty planing.</p>

        <h2>Developed stuff</h2>

        <p>One of my first and pretty long living projects was the <a href="/projects/gta-sa-toolbox">GTA San Andreas ToolBox</a>.</p>

        <p>I also developed some small PHP libraries like <a href="/projects/pini">Pini</a> (a library for reading and writing Ini files in PHP), <a href="/projects/phpcurl">PHPCurl</a> (a PHP OOP wrapper for Curl with some additional features) or <a href="/projects/phputils">PHPUtils</a> (a collection of useful utility functions).</p>

        <p>In 2013, I started to write my first Minecraft plugins (Bukkit/Spigot/Paper). Right now, there are <a href="/projects/minecraft-plugins">{{ projects.ofCategory("minecraft-plugins")|length }} plugins</a>.</p>

        <p>You can find all my projects on the <a href="/projects">projects page</a>.</p>

        <div class="row mt-5">
            <div class="col-lg-6">
                <h2>Known languages</h2>

                <ul>
                    <li><a href="https://www.gnu.org/software/bash" target="_blank">Bash</a></li>
                    <li><a href="https://msdn.microsoft.com/en-us/vstudio/hh388566" target="_blank">C#</a> (just a few basics)</li>
                    <li>C++ (just a few basics)</li>
                    <li><a href="https://www.w3.org/Style/CSS" target="_blank">CSS</a></li>
                    <li>HTML</li>
                    <li>Java</li>
                    <li>JavaScript</li>
                    <li><a href="https://www.lua.org" target="_blank">Lua</a></li>
                    <li>Objective-C (just a few basics)</li>
                    <li><a href="https://www.compuphase.com/pawn/pawn.htm" target="_blank">Pawn</a></li>
                    <li><a href="https://www.perl.org" target="_blank">Perl</a> (just a few basics)</li>
                    <li><a href="https://php.net" target="_blank">PHP</a></li>
                    <li><a href="https://puppet.com" target="_blank">Puppet</a></li>
                    <li><a href="https://www.purebasic.com" target="_blank">PureBasic</a></li>
                    <li><a href="https://python.org" target="_blank">Python</a></li>
                    <li><a href="https://mysql.com" target="_blank">(My)SQL</a></li>
                    <li><a href="http://squirrel-lang.org" target="_blank">Squirrel</a></li>
                    <li><a href="https://www.typescriptlang.org" target="_blank">TypeScript</a> (just a few basics)</li>
                </ul>
            </div>

            <div class="col-lg-6">
                <h2>Used frameworks, libraries and technologies</h2>

                <ul>
                    <li><a href="https://getbootstrap.com" target="_blank">Bootstrap</a></li>
                    <li><a href="https://docker.com" target="_blank">Docker</a></li>
                    <li><a href="https://jquery.com" target="_blank">jQuery</a></li>
                    <li><a href="https://qooxdoo.org" target="_blank">qooxdoo</a></li>
                    <li><a href="https://unrealengine.com" target="_blank">Unreal Engine 4</a> (just a few basics)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}