{% extends "page.twig" %}

{% block title %}403 Forbidden{% endblock %}

{% block content %}
    <div class="container">
        <h1>403 Forbidden</h1>
        <p>You are not allowed to access this resource!</p>
        <a class="btn btn-primary" href="/">Goto the homepage</a>
    </div>
{% endblock %}