{% extends "page.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="carousel slide carousel-fade" data-ride="carousel" id="home-carousel">
        <ol class="carousel-indicators">
            <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#home-carousel" data-slide-to="1"></li>
            <li data-target="#home-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-image" id="home-carousel-application-cover"></div>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>Applications</h1>
                        <p>Free and open source software.</p>
                        <p><a class="btn btn-lg btn-primary" href="/projects#application">Show all</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-image" id="home-carousel-minecraft-plugin-cover"></div>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Minecraft plugins</h1>
                        <p>Enhance your Minecraft experience with those plugins for Bukkit/Spigot.</p>
                        <p><a class="btn btn-lg btn-primary" href="/projects#minecraft-plugin">Show all</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-image" id="home-carousel-php-library-cover"></div>
                <div class="carousel-caption text-right">
                    <h1>PHP libraries</h1>
                    <p>Small libraries to make your PHP developer life easier.</p>
                    <p><a class="btn btn-lg btn-primary" href="/projects#php-library">Show all</a></p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#home-carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#home-carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <div class="container">
        <h2>Latest projects</h2>
        {% for project in projects.latest(3) %}
            {{ include("project-list-item.twig") }}
        {% endfor %}
    </div>
{% endblock %}