{% extends "page.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="carousel slide carousel-fade" data-ride="carousel" id="home-carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner">
            {% for categoryName, categoryData in projects.getCategories() %}
                <div class="{{ html_classes("carousel-item", {"active": loop.first}) }}">
                    <div class="carousel-image" id="home-carousel-{{ categoryName }}-cover"></div>
                    <div class="container">
                        <div class="{{ html_classes("carousel-caption", categoryData[2]) }}">
                            <h2>{{ categoryData[0] }}</h2>
                            <p>{{ categoryData[1] }}</p>
                            <p><a class="btn btn-lg btn-primary" href="/projects/{{ categoryName }}">Show all</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <div class="container">
        <h2>Latest projects</h2>
        {% for project in projects.latest(3) %}
            {{ include("project-list-item.twig") }}
        {% endfor %}
    </div>
{% endblock %}