<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="content-Language" content="en"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="robots" content="INDEX,FOLLOW"/>
        <meta name="revisit-after" content="2 days"/>
        <meta name="description" content="Linux Tools, Minecraft Plugins and PHP Libraries"/>
        <meta name="keywords" content="applications,tools,minecraft,php,library,libraries,gta,grand theft auto,bukkit,dyndns,ssh,linux"/>

        <title>{% block title %}{% endblock %} - SelfCoders</title>

        <link rel="stylesheet" href="{{ asset("main.css") }}"/>
        <script src="{{ asset("main.js") }}"></script>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top">
                <div class="container py-2">
                    <div class="mx-md-auto">
                        <div class="{{ html_classes("nav-item", {"active": isActivePage("/")}) }}"><a class="nav-link fs-5" href="/">SelfCoders</a></div>

                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="{{ html_classes("nav-item", {"active": isActivePage("/about")}) }}">
                                    <a class="nav-link" href="/about">About</a>
                                </li>
                                {% for categoryName, categoryData in projects.getCategories() %}
                                    <li class="{{ html_classes("nav-item dropdown", {"active": isActiveProjectCategory(categoryName)}) }}">
                                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">{{ categoryData[0] }}</a>
                                        <ul class="dropdown-menu">
                                            {% for project in projects.ofCategory(categoryName) %}
                                                <li><a class="{{ html_classes("dropdown-item", {"active": isActivePage("^/projects/" ~ project.name, true)}) }}" href="/projects/{{ project.name }}">{{ project.title }}</a></li>
                                            {% endfor %}
                                            <li>
                                                <hr class="dropdown-divider"/>
                                            </li>
                                            <li><a class="{{ html_classes("dropdown-item", {"active": isActivePage("/projects/" ~ categoryName)}) }}" href="/projects/{{ categoryName }}">Show all</a></li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="footer">
            <div class="container-fluid">
                <div class="center">
                    <ul class="list-inline">
                        {% for socialIcon in socialIcons %}
                            <li class="list-inline-item"><a class="social-icon social-icon-{{ socialIcon.name }}" href="{{ socialIcon.url }}" target="_blank" title="{{ socialIcon.title }}" data-bs-toggle="tooltip"><i class="fab fa-{{ socialIcon.icon }}"></i></a></li>
                        {% endfor %}
                    </ul>
                    <p><a href="https://www.paypal.com/donate/?hosted_button_id=2TGFQE29HZNBQ" target="_blank">Donate via PayPal <i class="fab fa-paypal"></i></a></p>
                    <p><a href="/imprint">Legal disclosure</a></p>
                    <p><a href="/privacy-policy">Privacy policy</a></p>
                    <p><a href="#">Back to top</a></p>
                    <span class="small">&copy; SelfCoders {{ currentYear }}</span>
                </div>
            </div>
        </footer>
    </body>
</html>