{% extends "page.twig" %}

{% block title %}Projects - {{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <h3>{{ title }}</h3>
        {% for project in projects.ofCategory(category) %}
            {{ include("project-list-item.twig") }}
        {% endfor %}
    </div>
{% endblock %}