{% extends "page.twig" %}

{% block title %}Projects{% endblock %}

{% block content %}
    <div class="container">
        {% for categoryName, categoryData in projects.getCategories() %}
            <a id="{{ categoryName }}" class="project-list-anchor"></a>
            <h3>{{ categoryData[0] }}</h3>
            {% for project in projects.ofCategory(categoryName) %}
                {{ include("project-list-item.twig") }}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}