{% extends "page.twig" %}

{% block title %}Projects{% endblock %}

{% block content %}
    <div class="container">
        {% for category in projects.getTypes() %}
            <a id="{{ category[0] }}" class="project-list-anchor"></a>
            <h3>{{ category[1] }}</h3>
            {% for project in projects.ofType(category[0]) %}
                {{ include("project-list-item.twig") }}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}