{% extends "page.twig" %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
    <div class="carousel">
        <div class="carousel-inner project-carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-image" style="background-image: url({{ project.getCoverImage() }})"></div>
                <div class="carousel-caption text-start">
                    <h1 class="project-cover-text">{{ project.title }}{% if project.lastRelease %} <sup><span class="badge bg-primary project-latest-download-badge">{{ project.lastRelease }}</span></sup>{% endif %}</h1>
                    <p class="project-cover-text">{{ project.description }}</p>
                    <div class="project-cover-text">
                        <div class="badge-group mb-3"><span class="badge bg-secondary">Project start</span><span class="badge bg-primary">{{ project.startDate.format("D, d M Y") }}</span></div>
                        <div class="badge-group mb-3"><span class="badge bg-secondary">Last release</span><span class="badge bg-primary">{% if project.lastUpdate %}{{ project.lastUpdate.format("D, d M Y") }}{% else %}Not available yet{% endif %}</span></div>
                    </div>
                    {% if project.downloads %}
                        {% if project.downloads.count > 1 %}
                            <div class="dropdown d-inline me-1">
                                <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-download"></i> Download</button>
                                <div class="dropdown-menu">
                                    {% for download in project.downloads %}
                                        <a class="dropdown-item" href="{{ download.url }}" target="_blank">{{ download.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <a class="btn btn-primary" href="{{ project.downloads[0].url }}" target="_blank"><i class="fas fa-download"></i> Download</a>
                        {% endif %}
                    {% endif %}
                    <a class="btn btn-secondary" href="https://github.com/Programie/{{ project.repoName }}" target="_blank"><i class="fab fa-github"></i> View on GitHub</a>
                    {% if project.extName %}
                        {% if project.category == "minecraft-plugins" %}
                            <a class="btn btn-secondary" href="https://modrinth.com/plugin/{{ project.extName }}" target="_blank">View on Modrinth</a>
                        {% elseif project.category == "php-libraries" %}
                            <a class="btn btn-secondary" href="https://packagist.org/packages/programie/{{ project.extName }}" target="_blank">View on Packagist</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {{ project.content|raw }}
    </div>
{% endblock %}